.categories-container {
    display: flex;
    float: right;
}

.list {
    list-style-type: none;
    margin-right: 15px;
    font-weight: bold;

}

.li-container:hover {
    border: 2px solid #404040;
    border-radius: 10px;
    padding: 6px;
}

/* .categoriy-div:hover {
    background-color: rgb(97, 97, 106);
} */
/* 
li:hover {
    color: rgb(35, 35, 58);
    text-decoration: underline;
    cursor: pointer;
} */