/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
*/ body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header{
  background-color: #404040;
  padding: 1rem;
}

header  */
/* a{
  color: #fff;
  text-decoration: none;
 position: relative;
}  */
/* left: -400px; */

.app-title{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
.app-title:hover{
  color: #636780;
}
a:hover{
  text-decoration: underline;
}


.site-container {
  min-height: 100vh;
}

main {
  /* padding: 1rem; */
  flex: 1;
}

/* .bt {
   background-color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); 
  color: #000000;
  border-radius: 10px;
  padding: 0.5rem;
} */

/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.rating span {
  color: #ffc000;
}

/* .product {
  border: 1px #404040 solid;
  margin: 1rem;
} */

.product img {
  /* width: 300px; */
  /* height: 390px; */
  max-width: 400px;
  
}

.product-info {
  padding: 1rem;
}

.img-large {
 width: 100%;
 /* max-width: 100%; */
}

.img-thumbnail {
  height: 80px;
}

.imgProduct {
  width: 80px;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 10px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
  font-size: 20px;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* button{
  background-color: #a0a0a0;
  border: none;
} */
.product .btn {
  background: #ba9a75;
  border-radius: 8px;
  padding: 0.5rem 15px;
}

/* .d-grid button {
  background: #ba9a75;
  border-radius: 5px;
  padding: 1rem;
  border: none;
} */

.product .btn:hover {
  background: #c2af99;
}

button {
  background: #ba9a75;
  color: black;
  border-radius: 10px;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
} 

button:hover {
  background:#c2af99;
}

/* 
/* style of scroller */

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
  background: #636780;
  border-radius: 10px;
}

/* Customize the track */
::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}




.cart-details {
  /* display: flex; */
  /* align-items: center; */
  /* border-right: 2px solid black; */
}

.cart-details img {
  width: 150px;
}


.cart-container {
  align-items: center;
  display: flex;
}

.cart-container div {
  padding-right: 5rem;
}



@media screen and (max-width: 600px) {
  .cart-details{
    display: grid;
  }
   
  .cart-container div {
    padding-right: 8px;
  }

}


/* for ipads and small pcs */
@media screen and (max-width: 1024px) {
  .product img{
    
  }

  .cart-details img {
    max-width: 600px;
  }
}